* {
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-color: #001EC5;
}

header>nav {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

header>nav>ul {
    display: flex;
    justify-content: space-around;

    list-style-type: none;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: white;
}

/* Main */
main {
    display: flex;
    justify-content: center;
}

.divMain {
    background-color: lightblue;

    width: 60vw;
    margin-top: 10vh;
    margin-bottom: 10vh;

    text-align: center;
}

/* Footer */
footer {
    background-color: #242429;
    color: white;

    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}

#linksFooter {
    display: flex;
    justify-content: space-evenly;
}

#linksFooter>div>ul>li>a {
    text-decoration: none;
}

#linksFooter>div>ul {
    list-style-type: none;
}
#licenses{
    margin-top: 6vh;
}