#blocoManipulacao{
    margin-top: 3vh;
    margin-bottom: 3vh;

    width: 10vw;
    height: 10vh;
    
    text-align: center;
    align-content: center;

    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;

    border: solid 1px black;
}
h2{
    margin-top: 3vh;
}

#tabelaInput{
    margin: 0 auto;
    margin-top: 3vh;
}

#tabelaInput > tr > td th{
    margin: 10px;
}